<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>
      <%= @student.name.capitalize %> Results from resultalerts.com
      <%= @student.matric_no.capitalize %>
    </h3>

    <table>
      <th>Course Name</th>
      <th>Course Title</th>
      <th>Score</th>
      <% @results.each do |result| %>
        <tr>
          <td><%=result.course_name%></td>
          <td><%=result.course_title%></td>
          <td><%=result.score%></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
